# 6. Spreadsheets with Pandas

In this section of the tutorial, we will learn how to work with data and spreadsheets using the [`pandas`](https://pandas.pydata.org/) library in Python.

> NB: If you are not running this in a dev container, make sure you check the readme for setup instructions!

Let's start by importing pandas:

In [10]:
import pandas as pd

## Reading our data into pandas

The tabular data you want to work with in pandas and then export to a spreadsheet can start in a variety of formats. Some common formats are:
- XSLX (Excel spreadsheets)
- ODF (Open Document Format)
- CSV (comma-separated values)
- JSON (JavaScript Object Notation)

In [11]:
# Lets start by creating a DataFrame from a csv file
acnh_fish_df = pd.read_csv('sample-data/animal-crossing/fish.csv')
acnh_fish_df

,#,Name,Sell,Where/How,Shadow,Total Catches to Unlock,Spawn Rates,Rain/Snow Catch Up,NH Jan,NH Feb,...,SH Dec,Color 1,Color 2,Size,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56,anchovy,200,Sea,Small,0,2–5,No,4 AM – 9 PM,4 AM – 9 PM,...,4 AM – 9 PM,Blue,Red,1x1,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201,LzuWkSQP55uEpRCP5
1,36,angelfish,3000,River,Small,20,2–5,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,1x1,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247,XTCFCk2SiuY5YXLZ7
2,44,arapaima,10000,River,XX-Large,50,1,Yes,NaN,NaN,...,4 PM – 9 AM,Black,Blue,3x2,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253,mZy4BES54bqwi97br
3,41,arowana,10000,River,Large,50,1–2,No,NaN,NaN,...,4 PM – 9 AM,Yellow,Black,2x1,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250,F68AvCaqddBJL7ZSN
4,58,barred knifejaw,5000,Sea,Medium,20,3–5,No,NaN,NaN,...,All day,White,Black,1x1,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265,X3R9SFSAaDzBF4fE3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,23,tilapia,800,River,Medium,0,7–9,No,NaN,NaN,...,All day,Black,Black,1x1,Fluorescent,Fish76,FishThirapia,FtrFishThirapia,4190,as78rnkwY3ahrTkBY
76,66,tuna,7000,Pier,XX-Large,50,2,Yes,All day,All day,...,NaN,Blue,Black,2x1,Fluorescent,Fish57,FishMaguro,FtrFishMaguro,2274,4PnGXx9DSb866AeCM
77,75,whale shark,13000,Sea,Large w/Fin,50,1,Yes,NaN,NaN,...,All day,Black,Blue,3x2,No lighting,Fish72,FishJinbeezame,FtrFishJinbee,2282,r3RAtJsXENwnFvQh7
78,21,yellow perch,300,River,Medium,0,7–10,No,All day,All day,...,NaN,Yellow,Black,1x1,Fluorescent,Fish18,FishYellowparch,FtrFishYellowparch,2233,bLgE5dicZniF5zZDW
79,53,zebra turkeyfish,500,Sea,Medium,0,6–8,No,NaN,NaN,...,All day,Red,Black,1x1,Fluorescent,Fish44,FishMinokasago,FtrFishMinokasago,2261,h7fa7Fh3Ay7vAxgE2

We can also create a DataFrame by loading data from a xlsx file:

In [12]:
sports_df = pd.read_excel("sample-data/summer-sports/summer-sports.xlsx")
sports_df

,What's in this Dataset?,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Name,"Summer Sports Experience and ""Kids in Motion"" ...",NaN,NaN
1,URL,https://data.cityofnewyork.us/Recreation/Summe...,NaN,NaN
2,Description,The Kids in Motion (KIM) program provides free...,NaN,NaN
3,Rows,12.3K,NaN,NaN
4,Columns,7,NaN,NaN
5,Each row is a…,Each record represents weekly attendance at at...,NaN,NaN
6,NaN,NaN,NaN,NaN
7,Schema,NaN,NaN,NaN
8,Column Name,Description,API Field Name,Data Type
9,Borough,Borough in which Kids in Motion or Summer Spor...,borough,Text
10,ParkorPlayground,"Name of park, playground, or recreation center...",parkorplayground,Text
11,Date,Date class occurred,date,Floating Timestamp
12,SportsPlayed,Name of sport played for Summer Sports Experience,sportsplayed,Text
13,KIMorSSE,Is this class part of Kids in Motion or Summer...,kimorsse,Text
14,Attendance,Attendance for the week,attendance,Number

We need to have a bit more control over how we are reading the xlsx file, so let's look at the options we have for the `read_excel` function.

In [13]:
# help(pd.read_excel) # or ?? pd.read_excel in jupyter cell magic syntax

The most likely ones we will need are:

**General**
- `sheet_name`: the name of the sheet we want to read from the xlsx file
    - pandas will read the first sheet by default
- `engine`: the engine to use to read the xlsx file, for the most part pandas will guess the right one!
    - `openpyxl` supports newer Excel file formats
    - `calamine` supports Excel (.xls, .xlsx, .xlsm, .xlsb) and OpenDocument (.ods) file formats
    - `odf` supports OpenDocument file formats (.odf, .ods, .odt)
    - `pyxlsb` supports Binary Excel files
    - `xlrd` supports old-style Excel files (.xls)

> N.B. If you need a specific engine you may need to install it as they are optional dependancies.

In [14]:
#Choosing more than one sheet returns a dictionary of DataFrames
sports_data = pd.read_excel("sample-data/summer-sports/summer-sports.xlsx",
                            sheet_name=["README", "data"]
                            )
sports_data["data"]

,Borough,ParkorPlayground,Date,SportsPlayed,KIMorSSE,Attendance,Cancellation
0,Brooklyn,Hamilton Metz Field,2024-05-14 10:00:00,NaN,K.I.M,71.0,NaN
1,Manhattan,Carmansville Playground,2023-10-13 18:00:00,NaN,K.I.M,0.0,Called Out
2,Queens,Bowne Playground,2024-07-06 18:00:00,NaN,K.I.M,119.0,NaN
3,Queens,Phil Scooter Rizzuto Park,2023-07-13 18:00:00,NaN,K.I.M,109.0,NaN
4,Queens,Grover Cleveland Playground,2024-05-24 18:00:00,NaN,K.I.M,0.0,Detailed to Event
...,...,...,...,...,...,...,...
12250,Brooklyn,Seth Low Playground/ Bealin Square,2024-05-04 10:00:00,NaN,K.I.M,90.0,NaN
12251,Queens,Yellowstone Park,2022-09-16 12:26:00,NaN,K.I.M,0.0,Called Out
12252,Queens,Astoria Park,2022-07-02 18:00:00,NaN,K.I.M,0.0,Detailed to Event
12253,Queens,Queensbridge Park,2023-08-23 18:00:00,NaN,K.I.M,0.0,NaN
12254,Brooklyn,Herbert Von King Park,2023-09-20 10:00:00,NaN,K.I.M,22.0,NaN

We can test the `engine` option by reading an ods formatted file of the same data.

In [15]:
sports_info = pd.read_excel("sample-data/summer-sports/summer-sports.ods",
                            sheet_name=["README", "data"],
                            engine="odf"
                            )
sports_info["data"]

,Borough,ParkorPlayground,Date,SportsPlayed,KIMorSSE,Attendance,Cancellation
0,Brooklyn,Hamilton Metz Field,2024-05-14 10:00:00,NaN,K.I.M,71.0,NaN
1,Manhattan,Carmansville Playground,2023-10-13 18:00:00,NaN,K.I.M,0.0,Called Out
2,Queens,Bowne Playground,2024-07-06 18:00:00,NaN,K.I.M,119.0,NaN
3,Queens,Phil Scooter Rizzuto Park,2023-07-13 18:00:00,NaN,K.I.M,109.0,NaN
4,Queens,Grover Cleveland Playground,2024-05-24 18:00:00,NaN,K.I.M,0.0,Detailed to Event
...,...,...,...,...,...,...,...
12250,Brooklyn,Seth Low Playground/ Bealin Square,2024-05-04 10:00:00,NaN,K.I.M,90.0,NaN
12251,Queens,Yellowstone Park,2022-09-16 12:26:00,NaN,K.I.M,0.0,Called Out
12252,Queens,Astoria Park,2022-07-02 18:00:00,NaN,K.I.M,0.0,Detailed to Event
12253,Queens,Queensbridge Park,2023-08-23 18:00:00,NaN,K.I.M,0.0,NaN
12254,Brooklyn,Herbert Von King Park,2023-09-20 10:00:00,NaN,K.I.M,22.0,NaN

In [16]:
# Our readme sheet is now a DataFrame too, but we can add it as
# metadata to the data DataFrame

sports_data = sports_info["data"]
sports_data.attrs = {"metadata" : sports_info["README"]}

In [17]:
sports_data.attrs

{'metadata':    What's in this Dataset?                                         Unnamed: 1  \
 0                     Name  Summer Sports Experience and "Kids in Motion" ...
 1                      URL  https://data.cityofnewyork.us/Recreation/Summe...
 2              Description  The Kids in Motion (KIM) program provides free...
 3                     Rows                                              12.3K
 4                  Columns                                                  7
 5           Each row is a…  Each record represents weekly attendance at at...
 6                      NaN                                                NaN
 7                   Schema                                                NaN
 8              Column Name                                        Description
 9                  Borough  Borough in which Kids in Motion or Summer Spor...
 10        ParkorPlayground  Name of park, playground, or recreation center...
 11                    Date                                Date class occurred
 12            SportsPlayed  Name of sport played for Summer Sports Experience
 13                KIMorSSE  Is this class part of Kids in Motion or Summer...
 14              Attendance                            Attendance for the week

           Unnamed: 2          Unnamed: 3
 0                NaN                 NaN
 1                NaN                 NaN
 2                NaN                 NaN
 3                NaN                 NaN
 4                NaN                 NaN
 5                NaN                 NaN
 6                NaN                 NaN
 7                NaN                 NaN
 8     API Field Name           Data Type
 9            borough                Text
 10  parkorplayground                Text
 11              date  Floating Timestamp
 12      sportsplayed                Text
 13          kimorsse                Text
 14        attendance              Number  }

**Rows**
- `header`: the row number to use as the column names
    - uses the first row by default
- `skiprows`: the number of rows to skip at the beginning of the file
    - will not skip any rows by default
- `nrows`: the number of rows to read from the file
    - reads all rows by default

**Columns**
- `index_col`: the column number to use as the index
    - uses a default integer index
- `usecols`: the columns to read from the xlsx file
    - reads all columns by default
- `dtype`: the data type to use for the columns
    - tries to infer the data type from the data

In [18]:
# The fish alreay have an index column, and let's set the data 
# type of the color columns to category

acnh_fish_df = pd.read_csv('sample-data/animal-crossing/fish.csv', 
                           index_col=0, 
                           dtype={"Color 1":'category', 
                                  "Color 2":'float64'}
                           )
acnh_fish_df

ValueError: could not convert string to float: 'Red'

**Data**
- `parse_dates`: whether to parse dates. 
    - If not specified, pandas will not parse dates by default.
- `na_values`: the values to consider as missing values. 
    - If not specified, pandas will use a default set of missing values.
- `converters`: the functions to use to convert the data in the columns. 
    - If not specified, pandas will use a default set of converters.
- `thousands`: the thousands separator to use. 
    - If not specified, pandas will use a default thousands separator.
- `decimal`: the decimal separator to use. 
    - If not specified, pandas will use a default decimal separator.

Let's use the `converters` option to make the time of day values in the month columns more useable.

In [ ]:
from enum import Enum

class TimeOfDay(Enum):
   am = 1
   pm = 2
   all_day = 3

def time_of_day(time_period:str) -> TimeOfDay:
      if time_period == "All day":
         return TimeOfDay.all_day
      elif time_period == "4 AM – 9 PM":
         return TimeOfDay.am
      elif time_period == "9 AM – 4 PM":
         return TimeOfDay.pm
      else:
         return None

acnh_fish_df = pd.read_csv('sample-data/animal-crossing/fish.csv', 
                           index_col=0, 
                           dtype={"Color 1":'category', 
                                  "Color 2":'category'},
                           
                           converters={"NH Jan": time_of_day}
                        )
acnh_fish_df["NH Jan"]

#
56         TimeOfDay.am
36                 None
44                 None
41                 None
58                 None
            ...
23                 None
66    TimeOfDay.all_day
75                 None
21    TimeOfDay.all_day
53                 None
Name: NH Jan, Length: 80, dtype: object

We can continue doing all the good data cleaning we all love like:

- missing values
- duplicates
- data types
- renaming columns
- aggregating data

... but we are here to learn about spreadsheets so let's move on to how to export our pandas data to a spreadsheet!

---

## How to export your DataFrame to a spreadsheet

- If you have only one DataFrame, you can use `to_excel` with a path to the file you want to save to.

- If you want to combine multiple DataFrames into one spreadsheet, you can use `ExcelWriter` to create a new Excel file and then use `to_excel` with a reference to the `ExcelWriter` object to write each DataFrame to the same file, usually as seperate sheets.

In [ ]:
acnh_fish_df.to_excel(
    "sample-data/animal-crossing/acnh-fish.xlsx"
    )

In [ ]:
acnh_bug_df = pd.read_csv('sample-data/animal-crossing/insects.csv')
acnh_fossil_df = pd.read_csv('sample-data/animal-crossing/fossils.csv')
acnh_art_df = pd.read_csv('sample-data/animal-crossing/art.csv')

# Let's combine all the item lists into one Excel file
with pd.ExcelWriter('sample-data/animal-crossing/museum.xlsx') as writer:  
    acnh_bug_df.to_excel(writer, sheet_name='bugs')
    acnh_fossil_df.to_excel(writer, sheet_name='fossils')
    acnh_art_df.to_excel(writer, sheet_name='art')

There are some similar options for the `to_excel` function as there are for the `read_excel` function.